body {
	background-color: lightblue;
	background-image: url("http://www.pd4pic.com/images/question-mark-characters-question-response-help.jpg");
}

input {
	width: 100%;
	border-radius: 5px;
	border: 3px solid lightgreen;
	padding: 5px;
	font-size: 1.5em;
	font-family: cursive;
}

input:active {
	background-color: yellow;
}

button {
	width: 30%;
	height: 60px;
	display: block;
	border-radius: 100%;
	font-size: 1.2em;
	background-color: lightgreen;
}

button :active {
	color: white;
}

#game {
	height: 50%;
	width: 50%;
	border-radius: 200px;
	border: 5px solid lightgreen;
	display: block;
	padding: 100px;
	background-color: palegoldenrod;
	margin: 10% auto auto auto;
}