body {
	background-color: black;
}



#main {
	position: absolute;
	width: 100%;
	height: 3em;
	margin: -1em 0 0 0;
	background-color: black;
	z-index: 1;
}

*>#main {
	position: fixed;
}

.navUL {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.navUL li a {
	font-family: futura;
	color: white;
	opacity: 1;
	text-decoration: none;
	display: block;
	padding: 1% 1% 1% 1%;
	float: left;
	font-size: 1em;
}


.navUL li a:hover {
	border: 1px solid white;
	background-color: darkslategrey;
}



#landing {
	
	height: 110vh;
	width: 100%;
	background-image: url("ArmchairLily.jpg");
	background-repeat: no-repeat;
	margin: 0 0 0 0;
	float: left;
	
}

#landing img {
	width: 22em;
	margin-top: 20%;
}
#main ul:nth-child(2) {
	margin-right: 5%;
}

#main ul:nth-child(2) li {
	float: right;
	margin-right: 1%;
}

#main ul li{
	display: inline;
}



#main ul img {
	width: 30px;
}

.divTitle {
	background-color: darkslategrey;
	border: 2px solid white; 
	display: block;
	width: 100%;
	height: 2.5em;
}


.show {
	margin: 0 0 0 10%;
}

.show div {
	display: inline-block;
	width: 30%;
	height: 10%;
	padding: 2% 0 2% 0;
	text-align: left;
	font-size: 2em;
	font-family: impact;
	color: #E5C4DA;
}

#live {
	margin-top: 1%;
	width: 100%;
	height: 100vh;
	float: left;
	
}

#music {
	margin-top: 1%;
	width: 100%;
	height: 100vh;
	float: left;
	
}

#music img {
	margin: 1em;
	border-radius: 3px;
	border: 1px solid lightslategrey;
	width: 30%;
	box-shadow: 3px 3px 8px darkslategrey;
}


#videos {
	margin-top: 1%;
	width: 100%;
	float: left;
}


/* iframe {
	
	box-shadow: 3px 3px 8px;
	border: 15px solid darkslategrey;
	border-radius: 5px;
} */


#bio {
	margin-top: 1%;
	width: 100%;
	height: 100vh;
	float: left;
}

h1 {
	position: relative;
	font-family: Poplar Std, sans-serif;
	color: #E5C4DA;
	font-size: 12em;
	padding: 2em px 0px 0px;
	line-height: 80%;
	margin: 15% 1% 0 0;

}

h3 {
	font-family: futura, impact, sans-serif;
	font-size: 2em;
	color: white;
	text-align: center;
	line-height: 100%;
	margin-top: .1em; 
}

span {
	color: #E5C4DA;
	font-family: cursive;
	font-size: 2em;
}

p {
	font-family: futura;
	font-size: 1.5em;
	color: white;
	text-indent: 1em;
	padding: 2%;
	margin-left: 5%;
}

.border img {
	border-radius: 5px;
	border: 10px solid #E5C4DA;
	margin-top: 8%;
}

.border {
	margin: 1%;
	
}

.border div {
	float: left;
	width: 50%;
	
}

.border a {
	color: white;
	text-decoration: none;
}

.border a:hover {
	color: #E5C4DA;
}

iframe {
	width: 70em;
	height: 39.2em;
	margin: 2%; 
}