body {
	background-color: #E5C4DA;
}

section {
	
	margin-top: 8%;
	width: 100%;
	background-color: white;
	clear: both;
}

*:focus {
	border: 1px solid lightslategrey;
	box-shadow: 2px 2px 8px lightslategrey;
}

#main {
	position: absolute;
	width: 100%;
	height: 3em;
	margin: -1em 0 0 0;
	background-color: black;
	z-index: 1;
}

*>#main {
	position: fixed;
}

.navUL {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.navUL li a {
	font-family: futura;
	color: white;
	opacity: 1;
	text-decoration: none;
	display: block;
	padding: 1% 1% 1% 1%;
	float: left;
	font-size: 1em;
}


.navUL li a:hover {
	border: 1px solid white;
	background-color: darkslategrey;
}



#landing {
	padding-bottom: 50vh;
	background-image: url("ArmchairLily.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 0 0 0;
	float: left;
	
}

#landing img {
	width: 22em;
	margin-top: 20%;
}
#main ul:nth-child(2) {
	margin-right: 5%;
}

#main ul:nth-child(2) li {
	float: right;
	margin-right: 1%;
}

#main ul li{
	display: inline;
}



#main ul img {
	width: 20px;
}

.divTitle {
	position: relative;
	background-color: #E5C4DA;
	width: 100%;
}

.divTitle img {
	position: absolute;
	bottom: 0;
}


.show {
	margin: 0 0 0 10%;
}

.show div {
	display: inline-block;
	margin-left: 10%;
	height: 10%;
	padding: 5% 0 5% 0;
	text-align: left;
	font-size: 1.3em;
	font-family: futura;
	color: #E5C4DA;
}

td {
	width: 20em;
	color: #E5C4DA;
	font-family: futura;
	font-size: 1.3em;	
}

td a {
	text-decoration: none;
	color: #E5C4DA;
	padding: 0 2px 0 2px;
	border-radius: 5px;
	border: 2px solid #E5C4DA;
}

td a:hover {
	color: lightslateblue;
	border: 2px solid lightslateblue;
}

#music, #live {
	position: relative;
	padding-bottom: 5%;
	/* height: 100vh; */
}

.center {
	margin-left: 15%;
}

#music a img {
	
	margin-left: 45%;
}

#gallery {
	background-color: #E5C4DA;
}


#instaWidget {
	height: 200px;
	margin: 2% 30% 0 30%;
	
}

#instaWidget p {
	position: absolute;
	width: 500px;
	height: 60px;
	color: #E5C4DA;
	font-family: futura;
	font-size: 28pt;
	background-color: white;
	text-align: center;
	padding-top: 10px;
	
}

#instaWidget span {
	color: #bfbfbf;
}


#instaWidget iframe {
	margin-top: 107px;
}



#pictAlbum {
	margin: 3em;
}

#pictAlbum img {
	padding: 2%;
}

/* iframe {
	
	box-shadow: 3px 3px 8px;
	border: 15px solid darkslategrey;
	border-radius: 5px;
} */



#live span, #bio span {
	color: #bfbfbf;
	font-family: futura;
	font-size: 1.3em;
}

#bio .border p {
	font-family: futura;
	font-size: 1.5em;
	color: black;
	text-indent: 1em;
	padding: 2%;
	margin-left: 5%;
}

#bio .caption p {
	font-family: futura, sans-serif;
	font-size: .7em;
	color: #bfbfbf;
	margin-top: -2%;
}

.border img {
	border-radius: 5px;
	border: 10px solid #E5C4DA;
	margin-top: 8%;
}

.border {
	margin: 1%;
	
}

.border div {
	float: left;
	width: 50%;
	
}

.border a, #contact a {
	color: black;
	text-decoration: none;
}

.border a:hover, #contact a:hover {
	color: #E5C4DA;
}

#videos iframe {
	width: 55em;
	height: 30.8em;
	margin: 3% 15% 5% 15%; 
}

.single {
	width: 25em;
	height: 25em;
	margin: 2%;
	margin-bottom: 10%;
}

.album {
	width: 25em;
	height: 25em;
	margin: 2%;
	margin-bottom: 10%;
}

#contact {
	background-color: white;
	height: 5vh;
	text-align: center;
	font-family: futura;
	font-size: .8em;
	border: 1px solid white;
}


.anchor {
	display: block;
	position: relative;
	top: -140px;
	visibility: hidden;
}
