.plane {
  margin: auto;
  position: relative;
  width: 100%;
  height: 90vh;
}

.ball {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
  background-color: red;
  left: 10px;
  top: 10px;
}

.blue {
  background-color: #48c;
  padding: 5%;
  text-align: center;
}

.brickred {
  background-color: #a34;
  padding: 10px; 
  display: inline-block;
}

h1 {
  font-family: courier;
  color: #a32;
}

td {
  border-radius: 10px;
  background-color: white;
  color: #a32;
  width: 30%;
  border: 1px solid #aaa;
  padding: 5px;
  text-align: center;
}

.img-container {
  display: inline-block;
  padding: 3px;
}

img {
  height: 10vh;
  border-radius: 10px;
}

img:hover {
  -webkit-transition: width 2s, height 2s;
  transition: width 2s, height 2s;
}

a {
  font-size: 2 em;
  text-decoration: none;
  color: #358;
}

a:hover {
  color: pink;
}

@media (max-width: 1000px) {
  h1 {
   font-size: 4em;
  }
  td {
    font-size: 3em;
  }
  .ball {
    background-color: blue;
  }

  .plane {
    height: 70vh;
  }

  img {
    display: none;
  }
  
  .img-container {
    display: none;
  }
}
